.properties {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 0;
    border: 1px solid black;
}
.properties-grid {
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding: 10px;
}
