.Alert {
    border-color: red;
    border-color: green;
}
/* .Alert {
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .Alert:empty {
    display: none;
  }
  
  .alert-success {
    border: 1px solid lightgreen;
    background-color: lightgreen;
    color: green;
  }
  
  .alert-error {
    border: 1px solid lightpink;
    background-color: lightpink;
    color: red;
  } */
