.navbar {
    display: flex;
    border-bottom: black;
}
.navbar-links-item {
    display: inline-block;
    margin: 0;
    padding: 10px;
}

/* .navbar {
    background-color: white;
    border-bottom: 1px solid grey;
  }
  
  .navbar-logo {
    max-width: 200px;
  }
  
  .navbar-links {
    margin: 0;
    padding: 0;
    float: right;
  }
  
  .navbar-links-item {
    margin: 0;
    padding: 24px;
    display: inline-block;
  }
  
  .navbar-links-item > * {
    text-decoration: none;
  } */
